html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  background: radial-gradient(
    farthest-corner at 300px 300px,
    $taco-bell-purple-1 0,
    $taco-bell-purple-2 86%,
    $taco-bell-purple-3 100%);
}
