@import "landing";
@import "location";
@import "menu";
@import "cart";

// Base style for all Views
// Also apply layout styles to child components here
// For example, the TacoCrumbs component has a default margin of 0, and its parent container, the "View", is responsible for defining the bottom margin.
.view {
  margin: 0;
  margin-top: 80px; // Allow space for the "View Title" and "Taco Crumbs"
  margin-bottom: 80px; // Allow space for the bottom nav

  .taco-crumbs,
  .view-title {
    position: fixed;
    top: 0;
    width: 100%;
  }
}
