.style-guide {
  .palette {
    display: flex;

    .color-swatch {
      width: 100px;
      height: 100px;
      margin: 5px;
      &.pink { background: $taco-pink; }
      &.green { background: $taco-green; }
      &.orange { background: $taco-orange; }
    }
  }
}
