@import "landing";
@import "nav";
@import "taco-crumbs";

.view {
  margin: 0;
  .taco-crumbs {
    margin-bottom: 1rem;
  }
}

// TODO: Make Button a component
.button {
  border: 3px solid #DDD;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  &:hover {
    border: 3px solid #FFF;
  }
  a {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
