@import "menu-category-item";
@import "menu-category-list";
@import "nav";
@import "taco-crumbs";

// TODO: Make Button a component
.button {
  border: 3px solid #DDD;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  &:hover {
    border: 3px solid #FFF;
  }
  a {
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
