.menu-item {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 8rem;
  }

  .name {
    text-transform: uppercase;
  }
}
