@import "~taco-style";
@import url('https://fonts.googleapis.com/css?family=Oswald');
// @import url('./fonts/Franchise-Free-Bold.tff');
// @import url('./fonts/BrandonText_Regular.otf');

.Background {
  width: 375px;
  height: 667px;
  object-fit: contain;
}
